*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: white;
$color-container: #5e2a96;
$padding-left: 9rem 0 0 5rem;
.container {
  display: flex;
  &__item {
    width: 80vw;
    height: 100vh;
    color: $primary-color;
    padding: $padding-left;
    background-color: $color-container;
    h1 {
      font-size: 4rem;
      letter-spacing: 0.2rem;
    }
  }
  &__item p:nth-child(3) {
    margin-top: 3rem;
  }
  &__item p:first-child {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }
  &__item button {
    margin-top: 3rem;
    font-size: 2rem;
    padding: 15px;
    width: 16rem;
    color: $color-container;
  }
  &__images {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    background: {
      size: cover;
      repeat: no-repeat;
      image: url('../assets/events1.jpg');
    }
  }
}
.nav {
  display: flex;
  width: 9rem;
  height: 2rem;
  background-color: $color-container;
  & img {
    padding: 5px 13px 5px 10px;
  }
}
.about {
  width: 50vw;
  height: 625px;
  background-color: rgba(56, 59, 59, 0.973);
  display: flex;
  padding-left: 5rem;
  color: $primary-color;
  &__text {
    position: relative;
    width: 70%;
    top: 8rem;
  }
  &__text p:first-child {
    letter-spacing: 0.3rem;
    padding-bottom: 0.2rem;
    line-height: 120%;
    font-size: 0.5rem;
  }
  &__text h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
  }
  &__picture {
    position: relative;
    left: 5rem;
    top: 6rem;
  }
  &__picture > img {
    position: absolute;
  }
}
.features_item img {
  background-color: #5e2a96;
}
.features {
  width: 40vw;
  height: 441px;
  padding: $padding-left;
  &__title {
    h2 {
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }
    h4 {
      letter-spacing: 0.2rem;
      color: $color-container;
    }
  }
  &__services {
    display: flex;
    justify-content: space-between;
  }
  &__blog1 {
    margin-right: 3rem;
  }
  &_item {
    h5 {
      margin-bottom: 1rem;
    }
  }
}
.bottom_1,
.bottom_2 {
  margin-bottom: 4rem;
}
.features__images {
  width: 600px;
  height: 741px;
  background-color: $color-container;
  position: absolute;
  img {
    width: 80%;
    position: relative;
    right: 150px;
    top: 6.5rem;
  }
}
.left__right .right {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -440px;
}
