*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: white;
$color-container: #5e2a96;
$padding-left: 5rem 0 0 5rem;
.container {
  display: flex;
  &__item {
    width: 80vw;
    height: 100vh;
    color: $primary-color;
    padding: $padding-left;
    background-color: $color-container;
  }
  &__images {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    background: {
      size: cover;
      repeat: no-repeat;
      image: url('../assets/events1.jpg');
    }
  }
}
.nav {
  display: flex;
  width: 9rem;
  height: 2rem;
  background-color: $color-container;
  & img {
    padding: 5px 13px 5px 10px;
  }
}
.about {
  display: flex;
  align-items: center;
  // position: relative;
  height: 400px;
  width: 700px;
  &__text {
    width: 80%;
    height: auto;
    background-color: rgba(56, 59, 59, 0.973);
  }
  &__picture {
    margin-left: 2rem;
  }
}
